<div class="cards-container" [ngClass]="{'dark-mode': darkMode}">
  <mat-card class="box-card" *ngFor="let project of filteredData" id="project-{{project.id}}">
    <mat-card-header>
      <mat-card-title>{{project.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="like-container">
        <mat-checkbox (click)="like(project)"></mat-checkbox>
        <span>Like</span>
      </div>
      <div class="spacing">
        <button mat-raised-button color="accent">Click</button>
      </div>
      <img mat-card-image [src]="project.image">
      <p>{{project.subtitle}}</p>
    </mat-card-content>
  </mat-card>
</div>
