<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
  <label>
      <input type="checkbox" [checked]="darkMode" (change)="darkMode = !darkMode"> Toggle Dark Mode
    </label>
  </div>
  <app-header [darkMode]="darkMode" [userData]="contentData"></app-header>
  <app-about [darkMode]="darkMode" [userData]="contentData"></app-about>
  <app-projects [darkMode]="darkMode" [projects]="projectData"></app-projects>
  <app-contact [darkMode]="darkMode" [userData]="contentData"></app-contact>
  <app-footer [darkMode]="darkMode" [userData]="contentData"></app-footer>